html
   head
      title Form Return
      script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.3.min.js')
      <!-- delete-item.js is available -->
      script(type='text/javascript', src='delete-item.js')
   body
      - for(key in formValues)
         p #{formValues[key]} &nbsp;
            button(class="delete", onclick='deleteItem("#{key}")') X
