<!DOCTYPE html>
<html ng-app="ProductApp"> <!-- Product Application -->
<head lang="en">
    <meta charset="UTF-8">
    <title>Product application - Angular filters</title>
</head>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="models.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<body ng-controller="ProductCtrl"> <!-- Product Controller -->
    <div class="container">
        <div class="page-header">
            <h1>Product application ! <small>Angular Filters</small></h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <form ng-model="newProduct">
                        <div class="form-group">
                            <label for="name"> Name :
                                <input id="name" class="form-control" type="text" ng-model="newProduct.name">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="desc"> Description :
                                <input id="desc" class="form-control" type="text" ng-model="newProduct.description">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="price"> Price :
                                <input id="price" class="form-control" type="number" ng-model="newProduct.price">
                            </label>
                        </div>
                        <button class="btn btn-success" ng-click="addProduct(newProduct)">Add product</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" style="margin: 0 auto;" src="./angular.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <p>Order by :</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="sortTable('name')">Name ASC</button>
                        <button type="button" class="btn btn-default" ng-click="sortTable('-name')">Name DESC</button>
                        <button type="button" class="btn btn-default" ng-click="sortTable('price')">Price ASC</button>
                        <button type="button" class="btn btn-default" ng-click="sortTable('-price')">Price DESC</button>
                    </div>
                    <br/>
                    <br/>
                    <label for="query-input">Filter :</label>
                    <input id="query-input" type="text" ng-model="resultsFilter"/>
                    <br/>
                    <br/>
                    <label for="limit-input">Limit results :</label>
                    <input id="limit-input" type="number" ng-model="resultsLimit" value="{{ resultsLimit }}"/>
                </div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    <tr ng-repeat="product in products | orderBy:tableSort | filter:resultsFilter | limitTo:(resultsLimit || 5)">
                        <td><strong>{{ product.name }}</strong></td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price | currency:'$':2 }}</td>
                        <td><button class="btn btn-danger" ng-click="deleteProduct(product)">X</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body><!-- / Product Controller -->
</html><!-- / Product Application -->